<div class="row">
    <div class="col-6 offset-6">
        <div class="card p-3">
            <form (ngSubmit)="submit(data)"  #data=ngForm>
                <div class="form-group">
                    <label for="">Your Name</label>
                    <input type="text" class="form-control" #cname=ngModel name="name" [(ngModel)]="contact.name" required>

                    <div class="text-danger" *ngIf="cname.invalid && cname.touched">name required !</div>
                </div>

                <div class="form-group">
                    <label for="">Your Email</label>
                    <input type="email" #cemail=ngModel class="form-control" name="email" [(ngModel)]="contact.email" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
                    <div class="text-danger" *ngIf="cemail.touched && cemail.errors?.required">
                        Email required !
                    </div>
                    <div class="text-danger" *ngIf="cemail.touched && (!cemail.errors?.required) && cemail.invalid">
                        Email not valid !
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Your Mobile</label>
                    <input type="text" class="form-control" name="mobile" [(ngModel)]="contact.mobile" required>
                </div>

                <div class="form-group">
                    <label for="">Your Message</label>
                    <textarea class="form-control" name="message" [(ngModel)]="contact.message" required></textarea>
                </div>
                <div class="form-group">
                   <button class="btn btn-success" [disabled]="!data.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>