
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>


<div class="container-fluid">
 <div class="row">
     <div class="col-5">
         <form (ngSubmit)="submit()" [formGroup]="employee">
             <div class="card">
                 <input type="hidden" name="id" formControlName="id">
                 <div class="form-group">
                     <label for="">Name</label>
                     <input type="text" class="form-control" name="name" formControlName="name" >
                 </div>
                 <div class="form-group">
                    <label for="">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender">
                        <option value="">Select</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Choose DOB</label>
                    <input type="date" class="form-control" name="dob" formControlName="dob">
                </div>
                <div class="form-group">
                    <label for="">Salary</label>
                    <input type="text" class="form-control" name="salary" formControlName="salary">
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-success">Submit</button>
                </div>
             </div>
         </form>
     </div>
<div class="col-7">
<div *ngIf="employees; else nodata">   
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <!-- <td>{{emp.gender|genderformat}}</td> -->
            <td>
                <div [ngSwitch]="emp.gender">
                    <label *ngSwitchCase="1">Male</label>
                    <label *ngSwitchCase="0">Female</label>
                    <label *ngSwitchDefault>Unknwon</label>                  
                </div>
            </td>
            <td>{{emp.dob|date}}</td>
            <td>{{emp.salary|currency}}</td>
            <td>
                <a href="#" (click)="editEmployee(emp)"><i class="fa fa-edit"></i></a>
                <a href="#" (click)="DeleteEmployee(emp.id)"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>  
</table>
</div> 
<ng-template #nodata>
<h5>Employee has no records !</h5>
</ng-template>
</div>
</div>
</div>   




<!-- 
<input type="text" placeholder="Your Message" [(ngModel)]="message">
<h3>Message :{{message}}</h3>
<ul>
    <li *ngFor="let cc of courses">{{cc}}</li>
</ul>
<hr>
<button (click)="Counter()" class="btn btn-info">Hit Counter</button>
<p>Count: {{count}}</p>
<hr>

<p [ngClass]="count>=5?cls1:cls2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus itaque unde alias eos molestiae quam eligendi dolore! Sapiente cumque iusto quasi deleniti sit assumenda dolore aliquid eius obcaecati dicta.
</p>

<p [ngClass]="count>=5?['text-success','bg-info']:['text-danger','bg-success']">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus itaque unde alias eos molestiae quam eligendi dolore! Sapiente cumque iusto quasi deleniti sit assumenda dolore aliquid eius obcaecati dicta.
</p>



<p [class.text-danger]="count>=5">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus itaque unde alias eos molestiae quam eligendi dolore! Sapiente cumque iusto quasi deleniti sit assumenda dolore aliquid eius obcaecati dicta.
</p>


<p [ngStyle]="count>=5?css1:css2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus itaque unde alias eos molestiae quam eligendi dolore! Sapiente cumque iusto quasi deleniti sit assumenda dolore aliquid eius obcaecati dicta.
</p>
 -->
<!-- 
<p [style.color]="count>=5?'green':'red'">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt temporibus itaque unde alias eos molestiae quam eligendi dolore! Sapiente cumque iusto quasi deleniti sit assumenda dolore aliquid eius obcaecati dicta.
</p>
 -->
